:root {
  --button: #4de897;
  --primary-background: #F2F3F7;
  --secondary-background: #fcfbfc;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--primary-background);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
input,
small a,
label,
button {
  font-family: "Circular Std", sans-serif;
}
input.error-msg {
    border: 2px solid red
}

